<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.godotengine.godot.plugin.googleplayintegrity">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotGooglePlayIntegrity"
            android:value="org.godotengine.godot.plugin.googleplayintegrity.GodotGooglePlayIntegrity" />
    </application>
</manifest>